extends layout

block content
  h1= title
  p Welcome to #{title}
  div 
    //- userオブジェクトが存在するかを確認することで、ログイン状態を判定
    if user 
      //- ログイン中
      div 
        a(href="/logout") #{user.username} をログアウト
      div 
        a(href="/bookmarks/new") 予定を作る
      - var hasBookmark = bookmarks.length > 0
    if hasBookmark
      //- 登録されたブックマークがある場合
      h2 ブックマーク一覧
      table.table 
        tr         
          th 名前
          th タグ
          th メモ
          th 更新日時
          th
          th
        each bookmark in bookmarks 
          tr
            td
              a(href=`${bookmark.bookmarkURL}`) #{bookmark.bookmarkName}
            //- タグ記載用↓
            td
            td #{bookmark.memo}
              //- button(
              //-   data-bookmark-id=bookmark.bookmarkId 
              //-   data-user-id=user.userId)#memo-change-button 編集
            td #{bookmark.updatedAt}
            td 
              a(href=`/bookmarks/${bookmark.bookmarkId}/edit`) 編集
            td
              button(type="submit") 削除(未実装)
    else
      //- ログアウト中
      div 
        a(href="login") ログイン