extends layout

block content
  div.jumbotron.my-2
    h1.display-5 たぐめもブックマーク
    p.lead ブックマークをオンラインで管理できるサービスです
  if user 
    //- div.form-group
    //-   a(href="/bookmarks/new").btn.btn-info ブックマークを登録する
    //- div.form-group
    //-   a(href="/tags").btn.btn-info タグを編集する
    //- bookarks: ユーザが登録したブックマーク
    - var hasBookmark = bookmarks.length > 0
    if hasBookmark
      //- 登録されたブックマークがある場合
      h3.my-3 ブックマーク一覧
      table.table 
        tr         
          th 名前
          th URL
          th タグID(タグ名表示にしたい…)
          th メモ
          //- th 更新日時
          th 
        each bookmark in bookmarks 
          tr
            td
              a(href=`${bookmark.bookmarkURL}`) #{bookmark.bookmarkName}
            td #{bookmark.bookmarkURL}
            td #{bookmark.tag}
            td #{bookmark.memo}
              //- button(
              //-   data-bookmark-id=bookmark.bookmarkId 
              //-   data-user-id=user.userId)#memo-change-button 編集
            //- td #{bookmark.updatedAt}
            td 
              a(href=`/bookmarks/${bookmark.bookmarkId}/edit`) 編集 ・ 削除