extends layout

block content
  if user 
    div.card.my-3
      div.card-header
        h4 タグ一覧
        p クリックでタグ検索
      div.card-body
        //- tags: ユーザが登録したタグ
        - var hasTag = tags.length > 0
        if hasTag
          //- 登録されたタグがある場合
          table.table-noborder
            tr
              //- debug
              th 
              th 
              th
            each tag in tags
              tr
                //- debug
                td #{tag.tagId}
                td 
                  a(href=`/tags/${tag.tagId}/search`) #{tag.tagName}
                td 
                  //- 未実装
                  //- a(href=`/tags/${tag.tagId}?delete=1`).btn.btn-info 削除

        else
          p.lead 登録されたタグはありません
      
    //- div.card.my-3
    //-   div.card-header
    //-     h4 タグ一覧
    //-   div.card-body

    //-     //- tags: ユーザが登録したタグ
    //-     - var hasTag = tags.length > 0
    //-     if hasTag
    //-       ul.list-group
    //-       //- 登録されたタグがある場合
    //-       each tag in tags
    //-         //- td #{tag.tagId}
    //-         li.list-group-item.border.border-0
    //-           a(href="#") #{tag.tagName}
    //-     else
    //-       p.lead 登録されたタグはありません

    h3.my-3 タグを追加する
    form(method="post", action="/tags").my-3
      input(type="hidden" name="_csrf" value!=csrfToken)
      div.form-group
        label(for="tagName") タグを入力
        input(type="text" name="tagName")#tagName.form-control
      button(tyoe="submit").btn.btn-info タグを追加