extends layout

block content 
  if user
    h3.my-3 #{tagName} 
    //- bookarks: ユーザが登録したブックマーク
    - var hasBookmark = bookmarks.length > 0
    if hasBookmark
      //- 登録されたブックマークがある場合

      table.table 
        tr         
          th 名前
          th URL
          th メモ
          //- th 更新日時
          th 
        each bookmark in bookmarks 
          tr
            td
              a(href=`${bookmark.bookmarkURL}`) #{bookmark.bookmarkName}
            td #{bookmark.bookmarkURL}
            td #{bookmark.memo}
              //- button(
              //-   data-bookmark-id=bookmark.bookmarkId 
              //-   data-user-id=user.userId)#memo-change-button 編集
            //- td #{bookmark.updatedAt}
            td 
              a(href=`/bookmarks/${bookmark.bookmarkId}/edit`) 編集 ・ 削除